body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    position: relative;
}
#main {
    max-width: 500px;
    margin: 0 auto;
}
.speaker {
    font-weight: bold;
}
.speaker::after {
    content: ": ";
}
.text {

}
.title {
    font-weight: bold;
    font-size: 1.2em;
}
.button {
    text-transform: uppercase;
    padding: 12px 30px;
    float: right;
    display: inline-block;
    background: #78c800;
    color: white;
    border-radius: 15px;
    box-shadow: #58a700 0 5px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}
.button:hover[data-status="active"] {
    filter: brightness(1.2);
    /*transform: translate(0, 5px);
    box-shadow: #58a700 0 0px;*/
}
.button[data-status="inactive"] {
    background: #a3a3a3;
    transform: translate(0, 5px);
    box-shadow: #575757 0 0px;
    color: #575757;
    cursor: default;
}
#progress {
    z-index: 5;
    background: lightgray;
    border-radius: 5px;
    width: 100%;
    height: 10px;
    padding: 0;
}
#progress span {
    display: block;
    width: 0%;
    height: 100%;
    background: #78c800;;
    border-radius: 5px;
}

.question {
    font-size: 1.2em;
    font-weight: bold;
}

.answer {
    position: relative;
    cursor: pointer;
}
.checkbox {
    display: inline-block;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    background: #ffffff;
    border: 1px solid lightgray;
    box-shadow: 0 3px lightgray;
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
}
.checkbox[data-status="right"] {
    background: #d7feb9;
    border-color: #ade756;
    box-shadow: 0 3px #ade756;
    color: #7da13c;
}
.checkbox[data-status="false"] {
    background: #feb9b9;
    border-color: #e7565b;
    box-shadow: 0 3px #e75662;
    color: #a13c3c;
}
.answer_text {
    display: inline-block;
    width: calc(100% - 50px);
    padding: 5px;
}
.clickword {
    background: #fff;
    display: inline-block;
    border-radius: 10px;
    border: 1px solid lightgray;
    box-shadow: 0 3px lightgray;
    text-align: center;
    padding: 8px;
    margin: 5px;
    cursor: pointer;
    transition: background 0.8s, border-color 0.8s, color 0.8s, box-shadow 0.8s;
}
.clickword[data-status="empty"] {
    background: lightgray;
    color: lightgray;
    cursor: default;
}
.clickword[data-status="selected"] {
    background: #ddf4ff;
    border-color: #84d8ff;
    color: #1cb0f6;
    box-shadow: 0 3px #84d8ff;
}
.clickword:hover[data-status="unselected"] {
    filter:brightness(0.9);
}
.clickword:hover[data-status="selected"] {
    background: #a4dffb;
    border-color: #3ebbf6;
    color: #00aff9;
    box-shadow: 0 3px #3ebbf6;
}
.clickword[data-status="inactive"] {
    opacity: 0.5;
}
.clickword[data-status="wrong_shake"] {
    background: #fba4a4;
    border-color: #f63e3e;
    color: #f90000;
    box-shadow: 0 3px #f63e3e;
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}
#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 30px;
    background: white;
    padding: 30px 30px;
    box-sizing: border-box;
    z-index: 10;
}
#story {
    padding-top: 40px;
    padding-bottom: 100px;
}
#footer {
    border-top: 1px solid gray;
    position: fixed;
    background: white;
    z-index: 10;
    bottom: 0px;
    left: 0;
    height: 100px;
    padding: 30px;
    width: 100%;
    box-sizing: border-box;
}

/* Tooltip container */
.tooltip {
    position: relative;
/*    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
    line-height: 2em;
    background-image: linear-gradient(to right, #e5e5e5 60%, rgba(255, 255, 255, 0) 0%);
    background-position: 0% 100%;
    background-repeat: repeat-x;
    background-size: 5px 2px;
    padding-bottom: 5px;
}

.tooltip:hover {
    background-image: linear-gradient(to right, #7b7b7b 60%, rgba(255, 255, 255, 0) 0%);
}

/* Tooltip text */
.tooltip .tooltiptextX {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    margin-top: -6px;
    border-style: solid;
    width: 10px;
    height: 10px;
    z-index: 10;

    transform: rotate(-45deg);

    background-color: #f7f7f7;
    border-color:  transparent transparent #e5e5e5 #e5e5e5;
    border-width: 2px;
//    background-color: red;
//    border-left: 2px solid #e5e5e5;
}

.tooltiptext {
    visibility: hidden;
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;

    bottom: 125%;
    width: 120px;

    background-color: #f7f7f7;
    border: 2px solid #e5e5e5;
    border-radius: 14px;
    color: #4c4c4c;
    display: block;
    font-size: 19px;
    font-style: normal;
    font-weight: normal;
    left: 50%;
    margin-bottom: 10px;
    padding: 7px 17px 6px;
    position: absolute;
    text-align: center;
    white-space: nowrap;
    width: auto;
    transform: translate(-50%);
    z-index: 10; }


/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
