.multiple_choice_checkbox {
  border-radius: 9px;
  height: 42px;
  user-select: none;
  min-width: 40px;
  position: relative;

  background: var(--color_base_background);
  border-color: var(--color_base_border);
  color: var(--color_base_color);

  border-style: solid;
  border-width: 2px;
  border-bottom-width: 4px;
}

.false:before {
  background-position: 50%;
  background-repeat: no-repeat;
  content: "";
  position: absolute;
  background-image: url(//d35aaqx5ub95lt.cloudfront.net/images/c854160d63716d5ccede79734b63f36b.svg);
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.false:after {
  background-image: url(//d35aaqx5ub95lt.cloudfront.net/images/45590f17eefeed5ed18cef9ac9d1f7d2.svg);
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-name: _1O73g;
  animation-name: _1O73g;
  height: 30px;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
  top: 50%;
  width: 30px;
  z-index: 1;

  background-position: 50%;
  background-repeat: no-repeat;
  content: "";
  position: absolute;
}

.right:before {
  background-image: url(//d35aaqx5ub95lt.cloudfront.net/images/867bf7feaeebef6c4938d14983f4f9df.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.done {
  background: var(--color_disabled_background);
  border-color: var(--color_disabled_border-color);
  color: var(--color_disabled_color);

  border-bottom-width: 2px;
}

.right {
  background: var(--color_right_background);
  border-color: var(--color_right_border-color);
  color: var(--color_right_color);
}

.false {
  border-bottom-width: 2px;

  animation: false_to_disabled 1.5s;
  background: var(--color_disabled_background);
  border-color: var(--color_disabled_border-color);
  color: var(--color_disabled_color);
}
@keyframes false_to_disabled {
  0%,
  66% {
    background: var(--color_false_background);
    border-color: var(--color_false_border-color);
    color: var(--color_false_color);
  }
  to {
    background: var(--color_disabled_background);
    border-color: var(--color_disabled_border-color);
    color: var(--color_disabled_color);
  }
}
/*
function get_color(state) {
    if (state === "right") return styles.right;
    if (state === "false") return styles.false;
    if (state === "done") return styles.done;
return styles.default;
}

.right {
    composes: color_right button_disabled_up from "../common.module.css";
}

.false {
    composes: color_false button_inactive_anim from "../common.module.css";
}

.done {
    composes: color_disabled button_inactive from "../common.module.css";
}

.default {
    composes: color_base button_click from "../common.module.css";
}*/
