
#header_language #header_lang_selector{
    display: none;
    padding: 0;
    width: 250px;
    background: white;
    border-radius: 15px;
    border: 1px solid lightgray;
    overflow-y: scroll;
    margin: 5px 0;
    position: absolute;
    z-index: 1;
    max-height: calc(100vh - 47px);
}


#header_language:hover #header_lang_selector {
    display: block;
}

.language_select_item {
    padding: 5px;
    border-bottom: 1px solid lightgray;
    text-decoration:none;
}
.language_select_item:hover {
    background: #ddf4ff !important;
}

.language_select_item span {
    font-size: 18px;
    font-weight: bold;
}
