
#header_language {
    height: 50px;
    display: block;
    float: left;
    margin: 0 0 0 calc(100% - 198px - 200px);
    position: relative;
}


#header_language > .flag {
    margin-left: 18px;
}

#header_lang_selector{
    display: none;
    padding: 0;
    width: 250px;
    background: white;
    border-radius: 15px;
    border: 1px solid lightgray;
    overflow-y: scroll;
    margin: 5px 0;
    position: absolute;
    z-index: 1;
    max-height: calc(100vh - 55px);
    left: -90px;
}


#header_language:hover #header_lang_selector, #header_language:hover #diamond-wrap {
    display: block;
}

.language_select_item {
    padding: 5px;
    border-bottom: 1px solid lightgray;
    text-decoration:none;
}
.language_select_item:hover {
    background: #ddf4ff !important;
}

.language_select_item span {
    font-size: 18px;
    font-weight: bold;
}

#diamond {
    width: 15px;
    height: 15px;
    position: absolute;
    left: 2.5px;
    top: 2.5px;
    background-color: white;
    transform: rotate(45deg);
    transform-origin: center;
    border-radius: 3px;
    border: 1px solid #d3d3d3;
    z-index: 2;
}

#diamond-wrap {
    overflow: hidden;
    width: 25px;
    height: 10px;
    position: absolute;
    z-index: 2;
    left: 27px;
    top: 33.9px;
    display: none;
}
