@font-face {
    font-family: nunito;
    src: url(nunito/Nunito-Regular_new.ttf);
}
@font-face {
    font-family: nunito;
    src: url(nunito/Nunito-Bold_new.ttf);
    font-weight: bold;
}
@font-face {
    font-family: fabada;
    src: url(fabada/Fabada-regular.ttf);
}

@font-face {
    font-family: vollkorn;
    src: url(vollkorn/VollkornMedium-jEVry.ttf);
}
@font-face {
    font-family: vollkorn;
    src: url(vollkorn/VollkornBold-ALwGg.ttf);
    font-weight: bold;
}

@font-face {
    font-family: comfortaa;
    src: url(comfortaa/Comfortaa-VariableFont_wght.ttf);
}
