.main_title {
  font-size: 34px;
}
.title_desc {
  font-size: 19px;
  text-align: center;
}
@media screen and (max-width:480px) {
  .main_title {
    font-size: 25px;
    margin-bottom: 0;
  }
  .title_desc {
    font-size: 19px;
    color: #777;
  }

  .title_desc a {
    color: #777;
  }
}

#header_index {
  display: block;
  border-bottom: 1px solid gray;
  height: 50px;
  padding-top: 10px;
  border-bottom: 2px solid lightgrey;
}

#quit {
  background-image: url(//d35aaqx5ub95lt.cloudfront.net/images/icon-sprite8.svg);
  background-position: -373px -154px;
  cursor: pointer;
  display: inline-block;
  height: 18px;
  vertical-align: middle;
  width: 18px;
}

#main_index {
  max-width: 985px;
  padding-top: 30px;
  margin: 0 auto;
}

a {
  color: black;
}

a:hover {
  color: #78c800;
}

h1 {
  width: 100%;
  text-align: center;
}

#header_language {
  height: 50px;
  display: block;
  float: left;
}


#header_language > .flag {
    margin-left: 18px;
}



body {
  /* font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";*/
  font-family: nunito, vollkorn, -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  position: relative;
  font-size: 19px;
  margin: 0;
  box-sizing: border-box;
}
button:focus{outline:none !important;}
a:focus{outline:none !important;}

.button {
  text-transform: uppercase;
  padding: 12px 30px;
  float: right;
  display: inline-block;
  background: #78c800;
  color: white;
  border-radius: 15px;
  box-shadow: #58a700 0 5px;
  margin-inline: 6px;
  font-weight: bold;
  text-align: center;
  border: 0;
  font-size: 16px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  transition: 0.1s box-shadow, 0.1s transform;
}
.button:hover {
  filter: brightness(1.2);
  /*transform: translate(0, 5px);
  box-shadow: #58a700 0 0px;*/
}
.button:active {
  transform: translate(0, 5px);
  box-shadow: #58a700 0 0;
  transition: 0.1s box-shadow, 0.1s transform;
}
.button[data-status="inactive"] {
  background: #a3a3a3;
  transform: translate(0, 5px);
  box-shadow: #575757 0 0;
  color: #575757;
  cursor: default;
}

