
#story_list {
    max-width: 704px;
    margin: 0 auto;
}


.set_title {
    font-size: 27px;
    font-weight: 700;
    text-align: center;
    width: 100%;
    overflow-x: hidden;
}

.set_title::before {
    margin-left: -50%;
    right: 16px;
}

.set_title::after {
    left: 16px;
    margin-right: -50%;
}

.set_title::after, .set_title::before {
    background: var(--overview-hr);
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

.set_list {
    margin: 0 16px;
    flex-wrap: wrap;
    display: flex;
}

@media (max-width:703px) {
    #story_list {
        max-width: 536px;
    }
}

@media (max-width:536px) {
    #story_list {
        max-width: 368px;
    }
}

@media (max-width:368px) {
    .set_list {
        margin: 0;
    }
    #story_list {
        max-width: 336px
    }
}

@media (max-width:335px) {
    .button_story_parent {
        margin: 0;
    }
    #story_list {
        max-width: 268px
    }
}

@media (max-width:268px) {
    .button_story_parent {
        margin: 0 auto;
    }
    #story_list {
        max-width: 100%;
    }
}


.button_story_img {
    border: 0;
    border-radius: 17px;
    height: 113px;
    margin: 15px 10px 0;
    overflow: visible;
    position: relative;
    width: 113px;

    display: inline-block;
    background: var(--story-button-gold) none repeat scroll 0 0;
}

.button_story_img img {
    height: 124px;
    left: -11px;
    position: absolute;
    top: -15px;
    width: 135px;
}
.button_story_img img:active {
    top: -12px;
    transition: 0.1s top;
}
.button_story_parent {
    margin: 7px 17px 10px;
    display: inline-block;
    width: 134px;
    cursor: pointer;
    text-decoration: none;
}
.button_story_text {
    color: var(--text-color-dim);
    font-size: 17px;
    font-weight: 700;
    line-height: 21px;
    margin-top: 16px;
    margin-bottom: 7px;
    width: 134px;
    text-align: center;
}
