.footer {
  margin-top: auto;
}
.footer_buttons {
  display: flex;
  justify-content: flex-end;
  padding: 0 10px;
  margin-top: 50px;
}
.footer_links {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  font-size: calc(16 / 16 * 1rem);
  margin-bottom: 50px;
  justify-content: space-around;
  border-top: 2px solid var(--overview-hr);
  opacity: 0.6;
}

.footer_links>div {
    padding: 0 10px;
}
.footer_links figcaption {
  margin-bottom: 0;
  font-weight: 700;
}

.footer_links li {
  list-style-type: none;
}
.footer_links li:before {
  content: "• ";
}

.footer_links ul {
  padding-left: 0;
  margin: 0;
}

@media (pointer: coarse) {
  .footer_links li a {
    line-height: calc(48 / 16 * 1rem);
  }
}
