.header {
  text-align: center;
}

.header h1 {
  font-size: calc(34 / 16 * 1rem);
  width: auto;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .header h1 {
    font-size: calc(25 / 16 * 1rem);
    margin-bottom: 0;
  }
}

.header p {
  font-size: calc(19 / 16 * 1rem);
  width: auto;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .header p {
    font-size: calc(19 / 16 * 1rem);
    color: var(--title-color-dim);
  }

  .header a {
    color: var(--title-color-dim);
  }
}
