.duostories_title {
  width: 160px;
  display: block;
  float: left;
  color: var(--duostories-title);
  font-weight: bold;
  font-size: 29px;
  text-decoration: none;
}

.header_wrapper {
  width: 100%;
  height: 60px;
  border-bottom: 2px solid var(--header-border);
  background: var(--body-background);
}

.header_index {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: sticky;
  max-width: 1000px;
  padding: 6px 20px;
  margin: 0 auto;
  top: 0;
}

.main_body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main_index {
  max-width: 985px;
  margin: 0 auto;
  padding: 0 16px;

  min-height: calc(100% - 60px);
  display: flex;
  flex-direction: column;
}

.spacer {
  background: var(--header-border);
  border-radius: 5px;
  display: block;
  width: 500px;
  height: 30px;
}

.loading {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 300px);
}

.loading p {
  text-align: center;
  font-size: 30px;
  margin-bottom: -75px;
}
