.all_wrapper {
  /*
  display: grid;
  --grid-padding: 16px;
  grid-template-columns: 1fr min(1000px, calc(100% - 2 * var(--grid-padding))) 1fr;
  gap: var(--grid-padding);

   */
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 0 auto;
  min-height: 100%;
  position: relative;
  padding: 0 16px;
  isolation: isolate;
}

.header_wrapper {
  width: 100%;
  position: sticky;
  z-index: 1;
  top: 0;
  background: var(--body-background);
}

.header_wrapper::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  border-bottom: 2px solid var(--header-border);
}

.header_index {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 1000px;
  padding: 6px 20px;
  margin: 0 auto;
  top: 0;
}

.duostories_title {
  width: 160px;
  display: block;
  float: left;
  color: var(--duostories-title);
  font-weight: bold;
  font-size: 29px;
  text-decoration: none;
}

.main_body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main_index {
  display: flex;
  flex-direction: column;
  isolation: isolate;
}

.spacer {
  background: var(--header-border);
  border-radius: 5px;
  display: block;
  width: 500px;
  height: 30px;
}

.loading {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 300px);
}

.loading p {
  text-align: center;
  font-size: 30px;
  margin-bottom: -75px;
}

.icons {
  display: flex;
  gap: 16px;
  justify-content: center;
}