.languages {
  grid-area: nav;
/*  height: calc(100vh - 64px);
  width: 515px;*/
  border-right: 1px solid var(--header-border);
/*  background-color: var(--body-background);*/
}

.search {
  height: 40px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--header-border);
  padding-right: 10px;

  position: sticky;
  top: 0;
  background: var(--body-background);
}

.search span {
  padding: 10px;
}

.search input {
  background: var(--input-background);
  color: var(--text-color);
  border: 2px solid var(--input-border);
  border-radius: 16px;
  padding: 1px 6px;
  font-size: 19px;
  width: 100%;
  margin-right: 10px;
}

.languagesScroll {
  overflow: scroll;
  height: calc(100% - 34px);
}

.course_selection_button {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: var(--text-color);
  border-bottom: 1px solid var(--header-border);
  outline-offset: -2px;
  background: var(--body-background);
}
.course_selection_button:focus {
  filter: brightness(0.9);
}
.course_selection_course_name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.course_selection_button_active {
  background: var(--body-background);
  filter: brightness(0.9);
}

.course_selection_button:hover {
  background: var(--body-background);
  filter: brightness(0.9);
}

.course_count {
  width: 45px;
  text-align: right;
  color: var(--text-color-dim);
}

.author {
  flex-grow: 1;
  text-align: right;
  padding-right: 10px;
  white-space: nowrap;
}

.crown {
  margin-left: 5px;
  height: 28px;
}

.backdrop {
  display: none;
}

.languages_wrapper {
  overflow: scroll;
  height: calc(100vh - 50px);
}

@media (max-width: 1250px) {
  .languages_wrapper {
    width: min(100vw, 400px);
    height: 100%;
    background: var(--body-background);
    position: absolute;
    transition: transform 500ms ease-in;
    transform: translateX(calc(-100% - 10px));
    box-shadow: 2px 19px 10px hsl(20deg 10% 10% / 0.5);
  }
  .languages {
    width: 0;
    position: relative;
  }
  .languages[data-show="true"] .languages_wrapper  {
    transform: translateX(0);
    transition: transform 700ms 100ms ease-out;
  }
  .backdrop {
    display: revert;
    position: absolute;
    width: 100vw;
    height: 100%;
    background: black;
    opacity: 0;
    pointer-events: none;
    transition: opacity 500ms 300ms ease;
  }
  .languages[data-show="true"] .backdrop {
    opacity: 0.5;
    pointer-events: revert;
    transition: opacity 700ms ease;
  }
}
