.duostories_title {
  width: 160px;
  display: block;
  float: left;
  color: var(--duostories-title);
  font-weight: bold;
  font-size: 29px;
  text-decoration: none;
}

.header_index {
  grid-area: header;
  /*width: 100%;*/
  /*height: 60px;*/
  border-bottom: 2px solid var(--header-border);
  /*  background: var(--body-background);*/
  /*z-index: 1;
  box-sizing: border-box;*/
  display: flex;
  flex-direction: row;
  align-items: center;
  /*  position: fixed; */
  padding: 0 20px;
  /*  top: 0; */
}

.main_overview {
  grid-area: main;
  overflow-y: scroll;
  overflow-x: hidden;
}

@media (max-width: 1040px) {
  .header_index {
    padding: 0 20px;
  }
}
.AvatarEditorHeaderFlagname {
}
@media (max-width: 800px) {
  .AvatarEditorHeaderFlagname {
    display: none;
  }
}

.flag_sub {
  margin-left: -34px;
  margin-top: 18px;
  width: 35px;
  background-size: 36px;
  height: 26px;
}

.header_index b {
  padding-right: 10px;
}

.official {
  padding-right: 15px;
}

@media (max-width: 1120px) {
  .editor_button {
    flex-direction: column;
    width: auto;
  }

  .editor_button div {
    padding: 0;
    height: 32px;
  }

  .editor_button span {
    padding: 0;
  }

  .editor_button img {
    margin-right: 0;
  }

  .editor_button label {
    margin: 9px;
  }

  .header_index b {
    display: none;
  }
}

.editor_button:hover {
  filter: brightness(0.7) contrast(2.5);
}
.editor_button:hover {
  color: var(--text-color);
}
.editor_button {
  color: var(--text-color-dim);
  padding: 14px 34px;
  cursor: pointer;
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 105px;
  text-decoration: none;
}
.editor_button img {
  margin-right: 10px;
  width: 36px;
}
@media (max-width: 1120px) {
  .editor_button {
    flex-direction: column;
    width: auto;
  }
}

.spacer {
  margin-left: 50px;
}
@media (max-width: 1120px) {
  .spacer {
    margin-left: 0;
  }
}
