.idea/
sql_dump/
/audio/rootkey.csv
/audio/tts/rootkey.csv
node_modules/
rootkey.csv
lib_swift/
dist/

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# production
build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/duolingo_data/
token.txt
/import_tools/duolingo_data/

duolingo_data*
sync.sh
sync_test.sh
publishX.sh
/packages/**/cypress/videos/
/packages/**/cypress/**/screenshots/
