.flag {
    display: inline-block;
    background-size: 40px;
    height: 32px;
    width: 40px;
    background-image: url(https://d35aaqx5ub95lt.cloudfront.net/vendor/886136e840d16adc3a4ec52245fccdf2.svg);
}

.flag_big {
    margin: 20px;
    transform: scale(2.2);
}