.container {
  background: var(--body-background);
  display: block;
  border: 2px solid var(--color_base_border);
  z-index: 2;
  width: 100%;
  padding: 25px;
  position: absolute;
  top: 58px;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
}
