@media (max-width: 800px) {
    .editor_button {
        padding: 14px 10px;
    }
}
@media (max-width: 975px) {
    .AvatarEditorHeaderFlagname {
        display: none;
    }
}

@media (max-width: 1120px) {
    .editor_button {
        flex-direction: column;
        width: auto;
    }

    .editor_button div {
        padding: 0;
        height: 32px;
    }

    .editor_button span {
        padding: 0;
    }

    .editor_button img {
        margin-right: 0;
    }

    .editor_button label {
        margin: 9px;
    }

    .AvatarEditorHeader b {
        display: none;
    }
}




.toolbar {
    width: 100%;
    height: 62px;
    border-bottom: 2px solid var(--header-border);
    display: flex;
    flex-direction: row;
}

.AvatarEditorHeader {
    display: flex;
    align-items: center;
    padding: 15px;
    width: 100%;
}
