.avatar_editor {
    overflow-y: scroll;
    height: calc(100vh - 64px);
    width: calc(100vw - 400px);
}

.avatar_editor_group {
    display: flex;
    flex-wrap: wrap;
}


.speaker_list {
    overflow-y: scroll;
    width: 400px;
    height: calc(100vh - 64px);
}

.avatar {
    border: 1px solid lightgrey;
    border-radius: 5px;
    width: 100px;
    margin: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.avatar p {
    margin: 0;
}

.avatar p input {
    width: 90px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 5px;
}

.copy_button img {
    width: 20px;
}
.copy_button {
    cursor: pointer;
    padding-right: 5px;
}
.play_button {
    cursor: pointer;
    width: 20px;
    height: 20px;
    padding-right: 5px;
}
.play_button img {
    width: 20px;
}

.AvatarEditorHeader {
    display: flex;
    align-items: center;
    padding: 15px;
    width: 100%;
}

.flag_sub {
    margin-left: -22px;
    margin-top: 18px;
    width: 35px;
    background-size: 36px;
    height: 26px;
}

.AvatarEditorHeader b {
    padding-right: 10px;
}

.AvatarEditorHeader span {
    padding-left: 10px;
}