root {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    position: relative;
}

#main {
    padding-top: 80px;
    max-width: 1300px;
}


#story_list {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 100px;
}

#story_listX tbody{
    display:block;
    overflow:auto;
    height:200px;
    width:100%;
}
#story_listX thead tr{
     display:block;
 }

#story_list td, #story_list th {
    /*border: 1px solid #ddd;*/
    padding: 8px;
}

#story_list tr:nth-child(even){background-color: #f2f2f2;}

#story_list tr:hover {background-color: #ddd;}

#story_list tr a { color: black; font-weight: bold; }

#story_list th {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    background-color: #78c800;
    color: white;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}



/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #78C800;
}

input:focus + .slider {
    box-shadow: 0 0 1px #78C800;
}

input:checked + .slider:before {
    transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 17px;
}

.slider.round:before {
    border-radius: 50%;
}

.course_selection_button_active {
    background: lightgray;
}

.course_selection_button {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
    border-bottom: 1px solid lightgray;
}
.course_selection_button:hover {
    background: lightgray;
}

.course_count {
    width: 30px;
    text-align: right;
    padding-right: 20px;
    padding-left: 20px;
    color: #333;
}



.status_dropdown {
    position: absolute;
    top: 30px;
    left: 0;
    display: none;
    padding: 0;
    width: 160px;
    background: white;
    border-radius: 15px;
    border: 1px solid lightgray;
    overflow-y: scroll;
    margin: 0;
    max-height: 270px;
    z-index: 10;
}
.status_dropdown_container {
    position: relative;
}
td:hover .status_dropdown {
    display: block;
}
.status_value {
    display: block;
    padding: 5px;
    border-bottom: 1px solid lightgray;
}
.status_value:hover {
    background: #e2e1e1;
}


.status_dropdown {
    position: absolute;
    top: 30px;
    left: 0;
    display: none;
    padding: 0;
    width: 160px;
    background: white;
    border-radius: 15px;
    border: 1px solid lightgray;
    overflow-y: scroll;
    margin: 0;
    max-height: 270px;
    z-index: 10;
}
.status_dropdown_container {
    position: relative;
}
td:hover .status_dropdown {
    display: block;
}
.status_value {
    display: block;
    padding: 5px;
    border-bottom: 1px solid lightgray;
}
.status_value:hover {
    background: #e2e1e1;
}
