#login_dialog button.link {
    /* display: inline; */
    width: auto;
    transform: none;
    background: none;
    color: var(--link-blue);
    margin: 0;
    border: none;
    font-size: 1em;
    font-weight: bold;
}


/* login */

#login_dialog {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    background: var(--body-background);
    z-index: 10;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
}

#login_dialog div {
    display: block;
    width: 375px;
    text-align: center;
}

#login_dialog div input {
    align-items: center;
    background: var(--input-background);
    border: 2px solid var(--input-border);
    border-radius: 16px;
    display: flex;
    margin-top: 8px;
    position: relative;
    width: 100%;
    padding: 10px 17px;
    font-size: 16px;
    box-sizing: border-box;
}

#login_dialog button {
    background-color: var(--button-blue-background);
    color: var(--button-blue-color);
    width: 100%;
    box-shadow: none;
    border: 0 solid var(--button-blue-border);
    border-bottom-width: 4px;
    margin-top: 8px;
    transform: translate(0, 0px);
    margin-bottom: 8px;
}

#login_dialog button:active {
    margin-top: 12px;
    border-width: 0 0 0;
}

#login_dialog button:hover {
    filter: brightness(1.1);
}

#login_dialog #quit {
    position: absolute;
    right: 20px;
    top: 20px;
}

#login_dialog .login_error {
    color: var(--error-red);
}

#login_dialog a {
    cursor: pointer;
    color: var(--link-blue);
}