#login_dialog button.link {
    /* display: inline; */
    width: auto;
    transform: none;
    background: none;
    color: var(--link-blue);
    margin: 0;
    border: none;
    font-size: 1em;
    font-weight: bold;
}


/* login */

#login_dialog {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    background: var(--body-background);
    z-index: 10;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
}

#login_dialog div {
    display: block;
    width: 375px;
    text-align: center;
}

#login_dialog div input {
    align-items: center;
    background: var(--input-background);
    border: 2px solid var(--input-border);
    border-radius: 16px;
    display: flex;
    margin-top: 8px;
    position: relative;
    width: 100%;
    padding: 10px 17px;
    font-size: 16px;
    box-sizing: border-box;
}

#login_dialog button {
    background-color: var(--button-blue-background);
    color: var(--button-blue-color);
    width: 100%;
    box-shadow: none;
    border: 0 solid var(--button-blue-border);
    border-bottom-width: 4px;
    margin-top: 8px;
    transform: translate(0, 0px);
    margin-bottom: 8px;
}

#login_dialog button:active {
    margin-top: 12px;
    border-width: 0 0 0;
}

#login_dialog button:hover {
    filter: brightness(1.1);
}

#login_dialog #quit {
    position: absolute;
    right: 20px;
    top: 20px;
}

#login_dialog .login_error {
    color: var(--error-red);
}

#login_dialog a {
    cursor: pointer;
    color: var(--link-blue);
}









#loggedin {
    float: right;
    width: 50px;
    min-width: 50px;
    background: var(--profile-background);
    border-radius: 30px;
    height: 50px;
    margin: -6px 24px -2px 0;
    padding-top: 7px;
    box-sizing: border-box;
    text-transform: uppercase;
    font-size: 28px;
    color: var(--profile-text);
    position: relative;
    text-align: center;
}

#loggedin span {
    padding: 0;
}

#loggedin:hover #profile_dropdown, #loggedin:hover #diamond-wrap {
    display: block;
}

#profile_dropdown {
    display: none;
    background: var(--body-background);
    position: absolute;
    left: -32px;
    width: 118px;
    border-radius: 15px;
    border: 1px solid var(--header-border);
    color: var(--text-color);
    font-size: 18px;
    font-weight: bold;
    margin-top: 12px;
    text-transform: none;
    overflow: hidden;
}

#header_language:hover #header_lang_selector, #header_language:hover #diamond-wrap {
    display: block;
}

#loggedin #diamond-wrap {
    left: 14px;
    top: 49px;
}


#diamond {
    width: 15px;
    height: 15px;
    position: absolute;
    left: 2.5px;
    top: 2.5px;
    background-color: var(--body-background);;
    transform: rotate(45deg);
    transform-origin: center;
    border-radius: 3px;
    border: 1px solid var(--header-border);
    z-index: 2;
}

#diamond-wrap {
    overflow: hidden;
    width: 25px;
    height: 10px;
    position: absolute;
    z-index: 2;
    left: 27px;
    top: 37.9px;
    display: none;
}

.profile_dropdown_button {
    text-align: center;
    height: 29px;
    padding: 5px;
    border-bottom: 1px solid var(--header-border);
    text-decoration: none;
    cursor: pointer;
}

.profile_dropdown_button:hover {
    background: var(--language-selector-hover-background) !important;
    color: var(--link-hover);
}

#log_in {
    float: right;
    padding-right: 12px;
    margin-top: -4px;
}