



#main {
    max-width: 500px;
    margin: 0 auto;
}


#story {
    padding-top: 85px;
    /*padding-bottom: 50vh*/;
    user-select: none;
    padding-left: 16px;
    padding-right: 16px;
}

#story .legal {
    font-size: 0.7em;
}



.story_rtl {
    direction: rtl;
}


/* rtl */

.story p[data-rtl] {
    direction: rtl;
}

.phrase[data-rtl] {
    direction: rtl;
}



/* */



.story_selection {
    background: var(--editor-selection-background);
    border-radius: 8px;
}

.story_selection .bubble {
    border-color: var(--editor-selection-border);
}

.story_selection .bubble:before {
    border-right-color: var(--editor-selection-border);
}

.cast_element {
    margin-bottom: -80px;
}

.grid {
    position: fixed;
    left: 0;
    top: 0;
    border: 1px solid red;
    height: 50vh;
    width: 100vw;
}

.spacer {
    height: 50vh;
}