.button_story_parent {
  margin: 7px 17px 10px;
  display: inline-block;
  width: 134px;
  cursor: pointer;
  text-decoration: none;

  border-radius: 5px;
  outline-offset: 5px;
}

@media (max-width: 335px) {
  .button_story_parent {
    margin: 0;
  }
}

@media (max-width: 268px) {
  .button_story_parent {
    margin: 0 auto;
  }
}

.button_story_img {
  border: 0;
  border-radius: 17px;
  height: 113px;
  margin: 15px 10px 0;
  overflow: visible;
  position: relative;
  width: 113px;

  display: inline-block;
  background: var(--story-button-gold) none repeat scroll 0 0;
}

.button_story_img img {
  position: absolute;
  left: -11px;
  top: -11px;
  width: 135px;
  height: 124px;
  transform: translateY(-5px);
  transition: transform 300ms ease;
}
@media (prefers-reduced-motion: no-preference) {
  .button_story_parent:hover img {
    transform: translateY(-7px);
    transition: transform 100ms ease;
  }
  .button_story_parent:active img {
    transform: translateY(0);
    transition: transform 50ms ease;
  }
}

.button_story_text {
  color: var(--text-color-dim);
  font-size: calc(17 / 16 * 1rem);
  font-weight: 700;
  line-height: 21px;
  margin-top: 16px;
  margin-bottom: 7px;
  width: 134px;
  text-align: center;
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -800px 0;
  }
  100% {
    background-position: 800px 0;
  }
}

.animated_background {
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8
    linear-gradient(to right, #eeeeee 8%, #bbbbbb 18%, #eeeeee 33%);
  background-size: 800px 104px;
  position: relative;
  color: transparent;
}
