.avatar_editor {
    overflow-y: scroll;
    margin-left: 8px;
    width: 100%;
    height: calc(100vh - 64px);
}

.character-editor-content {
  flex-direction: column;
}

@media only screen and (min-width: 560px) {

    .character-editor-content {
      flex-direction: row;
    }

    .avatar_editor:not(.no-voices) {
      width: calc(100vw - 400px);
    }
  }

.avatar_editor_group {
    display: flex;
    flex-wrap: wrap;
}


.speaker_list {
    overflow-y: scroll;
    width: 100%;
    height: calc(100vh - 64px);
}

.speaker_list.no-voices {
  display: none;
}

@media only screen and (min-width: 560px) {
  .speaker_list {
    width: 400px
  }
}

.voice_list {
  margin-top: 16px;
}

.speaker-entry-copy {
  display: flex;
  align-items: flex-start;
}

textarea {
    border: 1px solid var(--input-border);
    background: var(--input-background);
    color: var(--text-color);
}

.avatar {
    border: 1px solid var(--header-border);
    border-radius: 5px;
    width: 100px;
    margin: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.avatar p {
    margin: 0;
}

.avatar p input {
    width: 90px;
    border: 1px solid var(--input-border);
    background: var(--input-background);
    color: var(--text-color);
    border-radius: 5px;
    padding: 5px;
}

.copy_button img {
    width: 20px;
}
.copy_button {
    cursor: pointer;
    padding-right: 5px;
}
.play_button {
    cursor: pointer;
    width: 20px;
    height: 20px;
    padding-right: 5px;
}
.play_button img {
    width: 20px;
}

.AvatarEditorHeader {
    display: flex;
    align-items: center;
    padding: 15px;
    width: 100%;
}

.flag_sub {
    margin-left: -22px;
    margin-top: 18px;
    width: 35px;
    background-size: 36px;
    height: 26px;
}

.AvatarEditorHeader b {
    padding-right: 10px;
}

.AvatarEditorHeader span {
    padding-left: 10px;
}