

.title {
    font-weight: 700;
    font-size: 25px;
    line-height: 34px;
    margin: 0;
}
.title_img {
    height: 175px;
    width: 175px;
}

.phrase {
    display: flex;
    margin: 20px 0;
}

.head {
    height: 50px;
    margin-right: 18px;
    width: 50px;
    display: flex;
}

.rtl_head {
    transform: scale(-1, 1);
    margin-left: 12px;
    margin-right: 0;
}

.bubble {
    background: var(--color_base_background);
    border-color: var(--color_base_border);

    border-style: solid;
    border-width: 2px;
    border-radius: 14px;
    border-top-left-radius: 0;
    max-width: 80%;
    padding: 10px 12px;
    width: max-content;
    /*margin-left: 20px;*/
    position: relative;
    display: inline-block;
}

.bubble::before {
    border-bottom: 12px solid transparent;
    border-right: 12px solid var(--color_base_border);
    border-top-left-radius: 50%;
    content: "";
    left: -14px;
    position: absolute;
    top: -2px;
}
.bubble::after {
    border-bottom: 12px solid transparent;
    border-right: 12px solid var(--color_base_background);
    content: "";
    left: -9px;
    position: absolute;
    top: 0;
}

.rtl_bubble {
    border-top-left-radius: 14px;
    border-top-right-radius: 0;
}

.rtl_bubble:before {
    border-left: 12px solid var(--color_base_border);
    border-right: 0;
    border-top-right-radius: 50%;
    border-top-left-radius: 0;
    right: -14px;
    left: auto;
}

.rtl_bubble:after {
    border-left: 12px solid var(--color_base_background);
    border-right: 0;
    right: -9px;
    left: auto;
}
