.flag {
  display: inline-block;
  background-size: 40px;
  height: 32px;
  width: 40px;
  vertical-align: bottom;
  margin: 3px 12px;
}

.flag_image2 {
    --flag-scale: 1;
    --flag_offset: 3;

    display: block;

    width: calc(82px * var(--flag-scale, 1));
    height: calc(66px * var(--flag-scale, 1));
    flex-shrink: 0;

    object-fit: cover;
    object-position: 0 calc(-66px * var(--flag-scale, 1) * var(--flag_offset, 0));

    outline: calc(5px * var(--flag-scale, 1)) solid var(--body-background);
    outline-offset: calc(-6px * var(--flag-scale, 1));
    border-radius: calc(16px * var(--flag-scale, 1));
}

.flag_sub {
  margin-left: -32px;
  margin-top: 18px;
  background-size: 36px;
}

.flag_border_rect {
  fill: none;
  stroke: var(--body-background);
  stroke-width: 5;
}
