.legal {
  margin-top: 20px;
  text-align: center;
  color: rgb(102, 102, 102);
  font-size: 0.8em;
  display: block;
  direction: ltr;
  padding: 0 10px 10px;
}

.legal a {
  color: rgb(102, 102, 102);
}
