@font-face {
    font-family: nunito;
    src: url(../../src/nunito/Nunito-Regular_new.ttf);
}
@font-face {
    font-family: nunito;
    src: url(../../src/nunito/Nunito-Bold_new.ttf);
    font-weight: bold;
}
@font-face {
    font-family: fabada;
    src: url(../../src/fabada/Fabada-regular.ttf);
}

@font-face {
    font-family: vollkorn;
    src: url(../../src/vollkorn/VollkornMedium-jEVry.ttf);
}
@font-face {
    font-family: vollkorn;
    src: url(../../src/vollkorn/VollkornBold-ALwGg.ttf);
    font-weight: bold;
}

@font-face {
    font-family: comfortaa;
    src: url(../../src/comfortaa/Comfortaa-VariableFont_wght.ttf);
}



body {
    /* font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";*/
    font-family: nunito, vollkorn;/*, -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";*/
    position: relative;
    font-size: 19px;
    margin: 0px;
    box-sizing: border-box;
}
button:focus{outline:none !important;}
a:focus{outline:none !important;}
#main {
    max-width: 500px;
    margin: 0 auto;
}
.speaker {
    font-weight: bold;
}
.speaker::after {
    content: ": ";
}
.text {

}
.title {
    font-weight: bold;
    font-size: 25px;
    line-height: 34px;
}
.button {
    text-transform: uppercase;
    padding: 12px 30px;
    float: right;
    display: inline-block;
    background: #78c800;
    color: white;
    border-radius: 15px;
    box-shadow: #58a700 0 5px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    border: 0;
    font-size: 16px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    transition: 0.1s box-shadow, 0.1s transform;
}
.button:hover[data-status="active"] {
    filter: brightness(1.2);
    /*transform: translate(0, 5px);
    box-shadow: #58a700 0 0px;*/
}
.button:active {
    transform: translate(0, 5px);
    box-shadow: #58a700 0 0px;
    transition: 0.1s box-shadow, 0.1s transform;
}
.button[data-status="inactive"] {
    background: #a3a3a3;
    transform: translate(0, 5px);
    box-shadow: #575757 0 0px;
    color: #575757;
    cursor: default;
}

.question {
    font-size: 1.2em;
    font-weight: bold;
}

.error {
    background: lightpink;
    color: red;
    border: 1px solid red;
    padding: 7px;
    border-radius: 8px;
    width: 100%;
    display: inline-block;
}

.answer {
    position: relative;
    cursor: pointer;
    display: grid;
    grid-template-columns: 40px auto;
    align-items: center;
    margin-bottom: 14px;
}
.checkbox {
    display: inline-block;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    background: #ffffff;
    border: 1px solid lightgray;
    box-shadow: 0 3px lightgray;
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
}
.checkbox[data-status="right"] {
    background: #d7feb9;
    border-color: #ade756;
    box-shadow: 0 3px #ade756;
    color: #7da13c;
}
.checkbox[data-status="false"] {
    background: #feb9b9;
    border-color: #e7565b;
    box-shadow: 0 3px #e75662;
    color: #a13c3c;
}
.answer_text {
    display: inline-block;
    width: calc(100% - 50px);
    padding: 5px;
}
.clickword {
    background: #fff;
    display: inline-block;
    border-radius: 10px;
    border: 1px solid lightgray;
    box-shadow: 0 3px lightgray;
    text-align: center;
    padding: 8px;
    margin: 5px;
    cursor: pointer;
    transition: background 0.1s, border-color 0.1s, color 0.1s, box-shadow 0.1s, transform 0.1s;

    font-size: 16px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
.clickword:active {
    transform: translate(0, 5px);
    box-shadow: lightgray 0 0px;
    transition: 0.1s box-shadow, 0.1s transform;
}
.clickword[data-status="empty"] {
    background: lightgray;
    color: lightgray;
    cursor: default;
    transform: translate(0, 5px);
    box-shadow: lightgray 0 0px;
}
.clickword[data-status="selected"] {
    background: #ddf4ff;
    border-color: #84d8ff;
    color: #1cb0f6;
    box-shadow: 0 3px #84d8ff;
}
.clickword:hover[data-status="unselected"] {
    filter:brightness(0.9);
}
.clickword:hover[data-status="selected"] {
    background: #a4dffb;
    border-color: #3ebbf6;
    color: #00aff9;
    box-shadow: 0 3px #3ebbf6;
}
.clickword[data-status="inactive"] {
    opacity: 0.5;
}
.clickword[data-status="wrong_shake"] {
    background: #fba4a4;
    border-color: #f63e3e;
    color: #f90000;
    box-shadow: 0 3px #f63e3e;
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

.answer_button {
    background: #fff;
    border: solid #e5e5e5;
    border-width: 2px 2px 4px;
    border-radius: 14px;
    cursor: pointer;
    font-size: 19px;
    line-height: 1.45;
    margin-top: 2px;
    padding: 14px 24px 11px;
    position: relative;
    touch-action: manipulation;
    vertical-align: top;
    z-index: 1;
    text-align: center;
    margin-bottom: 10px;
    display: block;
    width: 100%;
    user-select: none;
}
@media (max-width:480px) {
    .answer_button {
        padding: 8px 15px;
    }
}
.answer_button:hover {
    -webkit-filter: brightness(.9);
    filter: brightness(.9);
}
.answer_button[data-status="inactive"] {
    animation: _3P2ek 1.5s;
    background: #fff;
    border-bottom-width: 2px;
    border-color: #e5e5e5;
    color: #afafaf;
    cursor: auto;
}
.answer_button[data-status="inactive"]:hover {
    -webkit-filter: none;
    filter: none;
}
.answer_button[data-status="off"] {
    background: #fff;
    border-bottom-width: 2px;
    border-color: #e5e5e5;
    color: #afafaf;
    cursor: auto;
}
.answer_button[data-status="off"]:hover {
    filter: none;
}
.answer_button[data-status="right"] {
    background: #b8f28b;
    border-color: #ade756;
    color: #58a700;
    cursor: auto;
}
.answer_button[data-status="right"]:hover {
    -webkit-filter: none;
    filter: none;
}
@keyframes _3P2ek {
    0%,
    66% {
        background:#ffd7d8;
        border-bottom-width:4px;
        border-color:#f5a4a4;
        color:#ff4b4b;
        padding-bottom:11px
    }
    to {
        background:#fff;
        border-bottom-width:2px;
        border-color:#e5e5e5;
        color:#afafaf
    }
}


@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

#story {
    padding-top: 80px;
    padding-bottom: 50vh;
    user-select: none;
}
#footer {
    border-top: 2px solid #e5e5e5;
    position: fixed;
    background: white;
    z-index: 10;
    bottom: 0px;
    left: 0;
    height: 140px;
    padding: 30px;
    width: 100%;
    box-sizing: border-box;
}

/* Tooltip container */
.tooltip {
    position: relative;
/*    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
    line-height: 2em;
    background-image: linear-gradient(to right, #e5e5e5 60%, rgba(255, 255, 255, 0) 0%);
    background-position: 0% 100%;
    background-repeat: repeat-x;
    background-size: 5px 2px;
    padding-bottom: 5px;
}

.tooltip:not([data-hidden]):hover {
    background-image: linear-gradient(to right, #7b7b7b 60%, rgba(255, 255, 255, 0) 0%);
}

/* Tooltip text */
.tooltip .tooltiptextX {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    margin-top: -6px;
    border-style: solid;
    width: 10px;
    height: 10px;
    z-index: 10;

    transform: rotate(-45deg);

    background-color: #f7f7f7;
    border-color:  transparent transparent #e5e5e5 #e5e5e5;
    border-width: 2px;
//    background-color: red;
//    border-left: 2px solid #e5e5e5;
}
span[data-hidden=true] {
    color:white;
    background-image: linear-gradient(to right, #e5e5e5 60%, #e5e5e5 60%) !important;
    line-height: 2em;
    background-position: 0% 100%;
    background-repeat: repeat-x;
    background-size: 5px 2px;
    padding-bottom: 5px;
}

.tooltiptext {
    visibility: hidden;
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;

    bottom: 125%;
    width: 120px;

    background-color: #f7f7f7;
    border: 2px solid #e5e5e5;
    border-radius: 14px;
    color: #4c4c4c;
    display: block;
    font-size: 19px;
    font-style: normal;
    font-weight: normal;
    left: 50%;
    margin-bottom: 10px;
    padding: 7px 17px 6px;
    position: absolute;
    text-align: center;
    white-space: nowrap;
    width: auto;
    transform: translate(-50%);
    z-index: 10; }


/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover:not([data-hidden=true]) .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.phrase {
    display: flex;
    margin: 20px 0px;
}

.head {
    height: 50px;
    margin-right: 12px;
    width: 50px;
    display: flex;
}

.bubble {
    background-color: #fff;
    border: 2px solid #dedede;
    border-radius: 14px;
    border-top-left-radius: 14px;
    border-top-left-radius: 0;
    max-width: 80%;
    padding: 10px 12px;
    width: max-content;
    /*margin-left: 20px;*/
    position: relative;
    display: inline-block;
}

.bubble::before {
    border-bottom: 12px solid transparent;
    border-right: 12px solid #dedede;
    border-top-left-radius: 50%;
    content: "";
    left: -14px;
    position: absolute;
    top: -2px;
}
.bubble::after {
    border-bottom: 12px solid transparent;
    border-right: 12px solid #fff;
    content: "";
    left: -9px;
    position: absolute;
    top: 0;
}

.loudspeaker {
    position: relative;
    top: 6px;
    margin-right: 8px;
    cursor: pointer;
    width: 28px;
    height: 23px;
}

.language_select_button {
    align-items: center;
    background: #fff;
    border-radius: 16px;
    border: solid #e5e5e5;
    border-width: 2px 2px 4px;
    box-sizing: content-box;
    cursor: pointer;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    height: 210px;
    justify-content: center;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 24px;
    max-width: 210px;
    min-width: 210px;
    padding: 0;
    position: relative;
    text-align: center;
    text-transform: none;

    text-decoration: none;
}
.language_select_button:hover {
    filter: brightness(.9);
}

.flag {
    display: inline-block;
    background-size: 40px;
    display: inline-block;
    height: 32.19512px;
    width: 40px;
    background-image: url(https://d35aaqx5ub95lt.cloudfront.net/images/juicy-flag-sprite-8.svg);
}
.flag_big {
    margin: 20px;
    transform: scale(2.2);
}
.language_select_button_text {
    color: #4c4c4c;
    display: block;
    font-size: 19px;
    font-weight: 700;
    margin-top: 10px;
}

.ssml {
    font-size: 0.8em;
    margin: 0;
    font-family: monospace;
}

.ssml_speaker {
    background: lightgray;
    padding: 2px 5px;
    border-radius: 5px;
    margin-right: 3px;
    font-size: 0.8em;
}

/* header with progress bar */

#progress {
    display: inline-block;
    background: #e5e5e5;
    width: 100%;

    --height: 16px;
    border-radius: calc(var(--height)/2);
    height: var(--height);
}
#progress_inside {
    display: block;
    width: 0%;
    background: #78c800;
    border-radius: calc(var(--height)/2);
    height: var(--height);
    position: relative;
    transition: width 0.2s;
}

#progress_highlight {
    background: #fff;
    border-radius: inherit;
    height: 30%;
    left: calc(var(--height)/2);
    opacity: .2;
    right: calc(var(--height)/2);
    top: 25%;
    position: absolute;
}

#header {
    display: flex;
    align-items: center;
    padding: 45px 40px 40px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: white;
    box-sizing: border-box;
    z-index: 10;
}

#header_icon {
    cursor: pointer;
    display: inline-block;
    margin-right: 20px;
    pointer-events: auto;
    line-height: 20.5px;
}

#quit {
    background-position: -373px -154px;
    height: 18px;
    width: 18px;
    background-image: url(//d35aaqx5ub95lt.cloudfront.net/images/icon-sprite8.svg);
    display: inline-block;
    vertical-align: middle;
}

@media (max-width:700px) {
    #header {
        padding: 17px 20px;
        z-index: 2;
    }
    #story {
        padding-top: 40px;
    }
}

/* --- */

#story {
    padding-left: 16px;
    padding-right: 16px;
}

/* footer */

#footer {
    padding: 0px;
}

#footer_content {
/*    max-width: 1000px; */
    position: relative;
    touch-action: none;
    align-items: center;
    display: grid;
    grid-auto-rows: 1fr;
    grid-gap: 8px 16px;
    grid-template-columns: 100%;
    justify-items: stretch;
}
@media (min-width:700px) {
    #footer_content {
        align-items: center;
        grid-auto-rows: auto;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 100%;
        justify-content: space-between;
        min-height: 140px;
        padding: 0 40px;
    }
}

#footer[data-right] {
    border-top: 2px transparent;
}

#footer[data-right] #footer_content {
    background-color: #b8f28b;
}

#footer[data-right] #footer_result {
    display: block;
}

@media (min-width:700px) {
    #footer[data-right] #footer_result {
        animation-name: NRgpX;
        display: flex;
        visibility: visible;
        flex-direction: column;
        grid-column: 1/5;
        margin: 0;
        padding: 0;
        position: relative;
    }
    #footer #footer_result {
        animation-name: NRgpX;
        display: none;
        visibility: hidden;
        flex-direction: column;
        grid-column: 1/5;
        margin: 0;
        padding: 0;
        position: relative;
    }
    #footer_result_icon {
        background: #fff;
        border-radius: 98px;
        display: inline-block;
        flex-shrink: 0;
        float: left;
        height: 80px;
        margin-right: 16px;
        width: 80px;
    }
    #footer_result_icon span {
        display: block;
        margin: 27px 0 0 20px;

        background-position: -166px -90px;
        height: 31px;
        width: 41px;

        background-image: url(//d35aaqx5ub95lt.cloudfront.net/images/icon-sprite8.svg);
    }

    #footer_buttons {
        grid-column: 5/auto;
        justify-self: end;
    }
}

#footer_buttons {
    position: relative;
    z-index: 3;
    display: flex;
    padding: 16px 16px;
}

#footer_result {
    display: none;
    background-color: #b8f28b;
    color: #58a700;
    z-index: 2;

    animation-duration: .2s;
    animation-fill-mode: forwards;
    animation-name: _1p2UU;
    animation-timing-function: cubic-bezier(.35,1.8,.35,.83);
    bottom: 0;
    left: 0;
    margin: 0 -16px;
    padding: 24px 16px 72px;
    position: absolute;
    right: 0;
}

@keyframes _1p2UU {
    0% {
        transform:translateY(100%)
    }
    to {
        transform:translateY(0)
    }
}

#footer_result > div {
    display: flex;
}

#footer_result_icon {
    animation-duration: .4s;
    animation-fill-mode: forwards;
    animation-name: _2Uurp;
    animation-timing-function: ease-in-out;
}

@keyframes _2Uurp {
    0% {
        opacity:0;
        transform:scale3d(.7,.7,1)
    }
    33% {
        opacity:1;
        transform:scale3d(1.1,1.1,1)
    }
    66% {
        transform:scale3d(.9,.9,1)
    }
    to {
        transform:scaleX(1)
    }
}

#footer_result_text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    padding: 0;
    width: 100%;
}

#footer_result_text h2 {
    color: #58a700;
    font-size: 25px;
    margin: 0 0 0 12px;
}

@media (min-width:700px) {
    .result {
        -webkit-animation-name: NRgpX;
        animation-name: NRgpX;
        display: flex;
        flex-direction: column;
        grid-column: 1/5;
        margin: 0;
        padding: 0;
        position: relative;
    }
}

@media (max-width:700px) {
    #footer {
        height: auto;
        border-top: 0px;
    }
    #button_discuss {
        display: none;
    }
    #button_next {
        width: 100%;
    }
}

/* multiple choice */

.multiple_choice_ul {
    margin: 0;

    color: #4b4b4b;
    font-size: 19px;
    font-weight: 500;
    line-height: 1.68;
    list-style: none;
    margin: 0 25px 0 39px;
    padding: 0;
    position: relative;

    list-style: none;
    margin: 0;
    padding: 0;
}

.multiple_choice_li {
    cursor: pointer;
    box-sizing: border-box;
    margin: 20px 0;
    min-height: 42px;
    position: relative;
}

.multiple_choice_checkbox {
    background: #fff;
    border: solid #e5e5e5;
    border-top-width: medium;
    border-right-width: medium;
    border-bottom-width: medium;
    border-left-width: medium;
    border-width: 2px 2px 4px;
    border-radius: 9px;
    cursor: pointer;
    height: 42px;
    margin-top: -22px;
    position: absolute;
    top: 50%;
    touch-action: manipulation;
    width: 40px;
    z-index: 1;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.multiple_choice_answer_text {
    padding-left: 56px;

    position: relative;
}

.multiple_choice_li[data-false] {
    pointer-events: none;
}

.multiple_choice_li[data-false] .multiple_choice_checkbox {
    border-bottom-width: 2px;
    height: 40px;
    margin-top: -20px;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-name: _3Jise;
    animation-name: _3Jise;
    background: #fff;
    border-color: #e5e5e5;
    box-shadow: none;
    z-index: 0;
}

.multiple_choice_li[data-false] .multiple_choice_checkbox:before {
    background-position: 50%;
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    background-image: url(//d35aaqx5ub95lt.cloudfront.net/images/c854160d63716d5ccede79734b63f36b.svg);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

.multiple_choice_li[data-false] .multiple_choice_checkbox:after {
    background-image: url(//d35aaqx5ub95lt.cloudfront.net/images/45590f17eefeed5ed18cef9ac9d1f7d2.svg);
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-name: _1O73g;
    animation-name: _1O73g;
    height: 30px;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    top: 50%;
    width: 30px;
    z-index: 1;

    background-position: 50%;
    background-repeat: no-repeat;
    content: "";
    position: absolute;
}

.multiple_choice_li[data-off] {
    pointer-events: none;
}

.multiple_choice_li[data-right] {
    pointer-events: none;
}

.multiple_choice_li[data-right] .multiple_choice_checkbox {
    border-bottom-width: 2px;
    height: 40px;
    margin-top: -20px;
    background: #b8f28b;
    border-color: #ade756;
    box-shadow: 0 2px 0 0 #ade756;
}

.multiple_choice_li[data-right] .multiple_choice_checkbox:before {
    background-image: url(//d35aaqx5ub95lt.cloudfront.net/images/867bf7feaeebef6c4938d14983f4f9df.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}


/* rtl */

p[data-rtl] {
    direction: rtl;
}

.phrase[data-rtl] {
    direction: rtl;
}

.phrase[data-rtl] .head {
    margin-left: 12px;
    margin-right: 0px;
}

.phrase[data-rtl] .bubble {
    border-top-left-radius: 14px;
    border-top-right-radius: 0px;
}

.phrase[data-rtl] .bubble:before {
    border-left: 12px solid #dedede;
    border-right: 0;
    border-top-right-radius: 50%;
    border-top-left-radius: 0;
    right: -14px;
    left: auto;
}

.phrase[data-rtl] .bubble:after {
    border-left: 12px solid #fff;
    border-right: 0;
    right: -9px;
    left: auto;
}

p[data-rtl] .speaker {
    transform: scale(-1, 1);
    margin-right: 0;
    margin-left: 8px;
}

/* Question Point to Word (click) */

.word_button {
    background: #fff;
    border: solid #e5e5e5;
    border-width: 2px 2px 4px;
    border-radius: 9px;
    cursor: pointer;
    line-height: 3.2;
    margin-right: 4px;
    padding: 8px 12px 7px;
    touch-action: manipulation;
    white-space: nowrap;
    z-index: 1;

    display: inline;
    position: relative;
}

.word_button[data-status=wrong] {
    animation: _2QR4Q 1.5s;
    background: #fff;
    border-bottom-width: 2px;
    border-color: #e5e5e5;
    color: #afafaf;
    cursor: auto;
    padding-bottom: 9px;
}

.word_button[data-status=off] {
    animation: _1wESO .5s;
    border-bottom-width: 2px;
    color: #afafaf;
    cursor: auto;
    padding-bottom: 9px;
}

.word_button[data-status=right] {
    background: #b8f28b;
    border-color: #ade756;
    color: #78c800;
    cursor: auto;
}

@keyframes _2QR4Q {
    0%,
    66% {
        background:#ffd7d8;
        border-bottom-width:4px;
        border-color:#f5a4a4;
        color:#ff4b4b;
        padding-bottom:7px
    }
    to {
        background:#fff;
        border-bottom-width:2px;
        border-color:#e5e5e5;
        color:#afafaf;
        padding-bottom:9px
    }
}
@keyframes _1wESO {
    0% {
        border-bottom-width:4px;
        color:#4b4b4b;
        padding-bottom:7px
    }
    to {
        border-bottom-width:2px;
        color:#afafaf;
        padding-bottom:9px
    }
}

/* Order Word */
.word_order {
    line-height: 1.45;
    background: #fff;
    border: solid #e5e5e5;
    border-width: 2px 2px 4px;
    border-radius: 14px;
    color: #4b4b4b;
    cursor: pointer;
    display: inline-block;
    font-size: 19px;
    margin: 4px;
    padding: 8px 15px;
    touch-action: manipulation;
}

.word_order[data-status=wrong] {
    animation-duration: .8s;
    animation-name: _2W3fZ;
    position: relative;
}

.word_order[data-status=off] { /* _37G8A.RGNlp */
    background-color: #e5e5e5;
    box-shadow: none;
    color: transparent;
    cursor: auto;
}

@keyframes _2W3fZ {
    0%,
    to {
        background-color:transparent;
        color:#4b4b4b;
        left:0
    }
    12.5%,
    37.5%,
    62.5%,
    87.5% {
        background-color:#ffd7d8;
        border-color:#f5a4a4;
        color:#ff4b4b;
        left:-4px
    }
    25%,
    50%,
    75% {
        background-color:#ffd7d8;
        border-color:#f5a4a4;
        color:#ff4b4b;
        left:4px
    }
}

/* Match the pairs */
.word_match {
    background: #fff;
    border: solid #e5e5e5;
    border-width: 2px 2px 4px;
    border-radius: 14px;
    cursor: pointer;
    font-size: 19px;
    line-height: 1.45;
    margin: 4px;
    margin-top: 6px;
    padding: 8px 15px;
    position: relative;
    touch-action: manipulation;
    vertical-align: top;
    z-index: 1;
}

.word_match:hover {
    filter: brightness(.9);
}

.word_match[data-status=selected] {
    background: #ddf4ff;
    border-color: #84d8ff;
    color: #1cb0f6;
}

.word_match[data-status=selected]:hover {
    background: #a4dffb;
    border-color: #3ebbf6;
    color: #00aff9;
    filter: none;
}

.word_match[data-status=wrong] {
    animation: _1RzPf 1.5s;
    background: #fff;
    border-color: #e5e5e5;
    color: #4b4b4b;
}

@keyframes _1RzPf {
    0%,
    66% {
        background:#ffd7d8;
        border-color:#f5a4a4;
        color:#ff4b4b
    }
    to {
        background:#fff;
        border-color:#e5e5e5;
        color:#4b4b4b
    }
}

.word_match[data-status=right] {
    animation: _3aFN7 1.5s;
    background: #fff;
    border-bottom-width: 2px;
    border-color: #e5e5e5;
    color: #cfcfcf;
    margin-bottom: 6px;
    cursor: auto;
}

@keyframes _3aFN7 {
    0%,
    66% {
        background:#b8f28b;
        border-bottom-width:4px;
        border-color:#ade756;
        color:#58a700;
        margin-bottom:0
    }
    to {
        background:#fff;
        border-bottom-width:2px;
        border-color:#e5e5e5;
        color:#cfcfcf;
        margin-bottom:2px
    }
}

/* */
.hidden {
    display: none;
}

.fadeGlideIn {
    animation-duration: .3s,.3s;
    animation-name: fadeIn, glideIn;
}

@keyframes fadeIn { /* _1X5ik */
    0% {
        opacity:0
    }
    to {
        opacity:1
    }
}
@keyframes glideIn { /* _2Q5Dx */
    0% {
        transform:translateY(20px)
    }
    to {
        transform:translateY(0)
    }
}

/* finished end */
.page_finished {
    height: calc(100vh - 100px);
    margin-bottom: 100px;
    width: 100%;
    border-top: 2px solid #e5e5e5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page_finished div {
    text-align: center;
}

.finished_image_container {
    display: inline-block;
    height: 200px;
    justify-content: center;
    position: relative;
    width: 200px;
}

.finished_image {
    display: inline-block;
    height: 100%;
    justify-content: center;
    margin: 0;
    overflow: visible;
    padding: 0;
    position: relative;
    width: 100%;
}

.finished_image img {
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    position: absolute;
}

.image_golden {
    animation-delay: 0s;
    animation-duration: 2s;
    animation-name: fadeIn;
    opacity: 1;
    visibility: visible;
}

.star1 {
    animation-delay: .1s;
    height: 20.4px;
    left: -30px;
    top: 20px;
    width: 20.4px;
    animation-duration: 2s;
    animation-name: _2pTl2;
    background-color: #ffc800;
    border-radius: 3.3px;
    opacity: .5;
    transform: rotate(-45deg) scale(1);
    position: absolute;
}

.star2 {
    animation-duration: 2s;
    -webkit-animation-name: _2pTl2;
    animation-name: _2pTl2;
    background-color: #ffc800;
    border-radius: 3.3px;
    opacity: .5;
    transform: rotate(-45deg) scale(1);
    position: absolute;
    animation-delay: .3s;
    bottom: -20px;
    height: 19.2px;
    right: -15px;
    width: 19.2px;
}

.star3 {
    animation-duration: 2s;
    animation-name: _2pTl2;
    background-color: #ffc800;
    border-radius: 3.3px;
    opacity: .5;
    transform: rotate(-45deg) scale(1);
    animation-delay: .2s;
    height: 12.2px;
    left: 0;
    position: absolute;
    top: -10px;
    width: 12.2px;
}

@keyframes _2pTl2 {
    0% {
        opacity:.5;
        transform:rotate(-45deg) scale(1)
    }
    25% {
        opacity:0;
        transform:rotate(-45deg) scale(.5)
    }
    50% {
        opacity:.5;
        transform:rotate(-45deg) scale(1)
    }
    75% {
        opacity:0;
        transform:rotate(-45deg) scale(.5)
    }
    to {
        opacity:.5;
        transform:rotate(-45deg) scale(1)
    }
}

.legal {
    margin-top: 20px;
    text-align: center;
    color:gray;
    font-size: 0.6em
}