.hidden {
    display: none !important;
}

.fadeGlideIn {
    animation-duration: .3s,.3s;
    animation-name: fadeIn, glideIn;
}

@keyframes fadeIn { /* _1X5ik */
    0% {
        opacity:0
    }
    to {
        opacity:1
    }
}
@keyframes glideIn { /* _2Q5Dx */
    0% {
        transform:translateY(20px)
}
    to {
        transform:translateY(0)
    }
}



.button_click {
    border-style: solid;
    border-width: 2px 2px 4px;
    border-radius: 14px;
    cursor: pointer;
    touch-action: manipulation;
}
.button_click:hover {
    filter: brightness(.9);
}
.button_disabled_up {
    border-style: solid;
    border-width: 2px 2px 4px;
    border-radius: 14px;
}
.button_inactive {
    border-style: solid;
    border-width: 2px;
    border-radius: 14px;
}
.button_inactive_anim {
    animation: change_bottom_width 1.5s;
    border-style: solid;
    border-width: 2px 2px 2px;
    border-radius: 14px;
}

@keyframes change_bottom_width {
    0%,
    66% {
        border-bottom-width:4px;
    }
    to {
        border-bottom-width:2px;
    }
}

.color_base {
    background: var(--color_base_background);
    border-color: var(--color_base_border);
    color: var(--color_base_color);
}

.color_right {
    background: var(--color_right_background);
    border-color: var(--color_right_border-color);
    color: var(--color_right_color);
}
.color_selected {
    background: var(--color_selected_background);
    border-color: var(--color_selected_border-color);
    color: var(--color_selected_color);
}
.color_disabled {
    background: var(--color_disabled_background);
    border-color: var(--color_disabled_border-color);
    color: var(--color_disabled_color);
}
.color_false {
    animation: false_to_disabled 1.5s;
    background: var(--color_disabled_background);
    border-color: var(--color_disabled_border-color);
    color: var(--color_disabled_color);
}
@keyframes false_to_disabled {
    0%,
    66% {
        background: var(--color_false_background);
        border-color: var(--color_false_border-color);
        color: var(--color_false_color);
    }
    to {
        background: var(--color_disabled_background);
        border-color: var(--color_disabled_border-color);
        color: var(--color_disabled_color);
    }
}

.color_false_to_base {
    animation: false_to_base 1.5s;
    background: var(--color_base_background);
    border-color: var(--color_base_border);
    color: var(--color_base_color);
}
@keyframes false_to_base {
    0%,
    66% {
        background: var(--color_false_background);
        border-color: var(--color_false_border-color);
        color: var(--color_false_color);
    }
    to {
        background: var(--color_base_background);
        border-color: var(--color_base_border);
        color: var(--color_base_color);
    }
}

.color_right_fade_to_disabled {
    animation: right_to_disabled 1.5s;
    background: var(--color_disabled_background);
    border-color: var(--color_disabled_border-color);
    color: var(--color_disabled_color);
    border-bottom-width:2px;
}

@keyframes right_to_disabled {
    0%,
    66% {
        background: var(--color_right_background);
        border-color: var(--color_right_border-color);
        color: var(--color_right_color);
        border-bottom-width:4px;
    }
    to {
        background: var(--color_disabled_background);
        border-color: var(--color_disabled_border-color);
        color: var(--color_disabled_color);
        border-bottom-width:2px;
    }
}

.question {
    /*color: #4b4b4b;
    font-size: 25px;
    font-weight: 700;
    line-height: 34px;*/
}