
.profile {
 margin: 0 20px;
}

.roles {
    margin-top: 10px;
}

.roles span {
    background: lightgray;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 0 5px;
}

.links {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.account {
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 10px;
}
.account img {
    margin: 10px;
}

.link {
    cursor: pointer;
    background-color: var(--button-blue-background);
    color: var(--button-blue-color);
    border-radius: 10px;
    padding: 5px 10px;
    margin: 0 5px;
}

.linkedd {
    background: lightgray;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 0 5px;
}
/* login */

.button {
    composes: button from "../components/layout/button.module.css";
}

.login_dialog {
    width: 100%;
    height: 100vh;
    display: flex;
    z-index: 10;
    align-items: center;
    justify-content: center;
}

.login_dialog div {
    display: block;
    width: 375px;
    text-align: center;
    margin: 20px;
}

.login_dialog div input[type='checkbox'] {
    display: inline;
    width: auto;
}

.login_dialog div input {
    align-items: center;
    background: var(--input-background);
    border: 2px solid var(--input-border);
    color: var(--text-color);
    border-radius: 16px;
    display: flex;
    margin-top: 8px;
    position: relative;
    width: 100%;
    padding: 10px 17px;
    font-size: 16px;
    box-sizing: border-box;
}

.login_dialog_button {
    composes: button from "../components/layout/button.module.css";
    background-color: var(--button-blue-background);
    color: var(--button-blue-color);
    width: 100%;
    box-shadow: none;
    border: solid var(--button-blue-border);
    border-width: var(--button-side-border) var(--button-side-border) 4px;
    margin-top: 8px;
    transform: translate(0, 0px);
    margin-bottom: 8px;
    margin-inline: 0;
}

.login_dialog_button:active {
    margin-top: 12px;
    border-width: 0 0 0;
}

.login_dialog_button:hover {
    filter: brightness(1.1);
}

.login_dialog #quit {
    position: absolute;
    right: 20px;
    top: 20px;
}

.login_dialog .login_error {
    color: var(--error-red);
}

.login_dialog a {
    cursor: pointer;
    color: var(--link-blue);
}

.login_dialog button.link {
    /* display: inline; */
    width: auto;
    transform: none;
    background: none;
    color: var(--link-blue);
    margin: 0;
    border: none;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
}


.log_in {
}


.quit {
    background-image: url(//d35aaqx5ub95lt.cloudfront.net/images/icon-sprite8.svg);
    background-position: -373px -154px;
    cursor: pointer;
    display: inline-block;
    height: 18px;
    vertical-align: middle;
    width: 18px;
}
