.admin_table th {
  position: sticky;
  top: 0;
  text-align: left;
  background-color: color-mix(in srgb, var(--button-background) 88%, #fff);
  color: var(--button-color);
  padding: 10px 12px;
  font-size: 0.84rem;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  z-index: 1;
}
.admin_table {
  border-collapse: collapse;
  width: 100%;
  min-width: 820px;
}

.admin_table td:first-child {
  padding-left: 16px;
}
.admin_table td:last-child {
  padding-right: 16px;
}

.admin_table tr:nth-child(2n) {
  background-color: color-mix(
    in srgb,
    var(--body-background-faint) 74%,
    transparent
  );
}
.admin_table tr:nth-child(2n + 1) {
  background-color: var(--body-background);
}

.admin_table td {
  padding-top: 10px;
  padding-bottom: 10px;
}

.admin_table td input {
  width: 95%;
}

.admin_table tbody tr:hover {
  filter: brightness(0.95);
}

.actionCol {
  position: sticky;
  right: 0;
  z-index: 2;
  min-width: 138px;
  background-color: inherit;
  text-align: right;
}

.admin_table th.actionCol {
  z-index: 3;
  background-color: color-mix(in srgb, var(--button-background) 88%, #fff);
}

.dropdown:hover .dropdownContent {
  display: block;
  max-height: 180px;
  overflow: scroll;
}
.drop_button {
  background-color: #fff;
  border: 1px solid;
}
.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0 8px 16px #0003;
  z-index: 1;
  width: 200px;
}
.dropdownContent button {
  width: 100%;
  border: none;
}
.lang {
  display: flex;
  align-items: center;
}

.tag {
  background: var(--editor-ssml);
  border-radius: 10px;
  padding: 5px 10px;
}
