.duostories_title {
  width: 160px;
  display: block;
  float: left;
  color: var(--duostories-title);
  font-weight: bold;
  font-size: 29px;
  text-decoration: none;
}

.header_index {
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  border-bottom: 2px solid var(--header-border);
  background: var(--body-background);
  display: flex;
  flex-direction: row;
  align-items: center;
  position: sticky;
  padding: 0 20px;
  top: 0;
  z-index: 200;
  max-width: 100vw;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.header_index::-webkit-scrollbar {
  display: none;
}

.header_index > * {
  flex: 0 0 auto;
}
@media (max-width: 1040px) {
  .header_index {
    padding: 0 20px;
  }
}
.main_index {
  overflow-x: hidden;
}

.flag_sub {
  margin-left: -34px;
  margin-top: 18px;
  width: 35px;
  background-size: 36px;
  height: 26px;
}

.header_index b {
  padding-right: 10px;
}

.header_index span {
  padding-left: 0;
}

@media (max-width: 1120px) {
  .editor_button {
    flex-direction: column;
    width: auto;
  }

  .editor_button div {
    padding: 0;
    height: 32px;
  }

  .editor_button span {
    padding: 0;
  }

  .editor_button img {
    margin-right: 0;
  }

  .editor_button label {
    margin: 9px;
  }

  .header_index b {
    display: none;
  }
}

.editor_button:hover {
  filter: brightness(0.7) contrast(2.5);
}
.editor_button:hover {
  color: var(--text-color);
}
.editor_button {
  color: var(--text-color-dim);
  padding: 0 14px;
  cursor: pointer;
  align-items: center;
  display: flex;
  flex-direction: row;
  min-width: 105px;
  text-decoration: none;
}
.editor_button img {
  margin-right: 10px;
  width: 36px;
}
@media (max-width: 1120px) {
  .editor_button {
    flex-direction: column;
    width: auto;
  }
}
