

/* Order Word */
.word_order {
    line-height: 1.45;
    background: var(--color_base_background);
    border-color: var(--color_base_border);
    color: var(--color_base_color);
    border-width: 2px 2px 4px;
    border-radius: 14px;
    border-style: solid;
/*    color: #4b4b4b;*/
    cursor: pointer;
    display: inline-block;
    font-size: 19px;
    margin: 4px;
    padding: 8px 15px;
    touch-action: manipulation;
}

.word_order[data-status=wrong] {
    animation-duration: .8s;
    animation-name: _2W3fZ;
    position: relative;
}

.word_order[data-status=off] { /* _37G8A.RGNlp */
    background-color: var(--color_base_border);
    box-shadow: none;
    color: transparent;
    cursor: auto;
}

@keyframes _2W3fZ {
    0%,
        to {
        background-color:transparent;
        color:#4b4b4b;
        left:0
    }
    12.5%,
    37.5%,
    62.5%,
    87.5% {
        background: var(--color_false_background);
        border-color: var(--color_false_border-color);
        color: var(--color_false_color);
        left:-4px
    }
    25%,
    50%,
    75% {
        background: var(--color_false_background);
        border-color: var(--color_false_border-color);
        color: var(--color_false_color);
        left:4px
    }
}
