

.course_list hr {
    width: 100%;
    border: 0;
    border-top: 2px solid var(--overview-hr);
    height: 0;
    margin-top: 35px;
    margin-bottom: 20px;
}

.course_list {
    margin: 0 16px;
    flex-wrap: wrap;
    display: flex;
}

.course_group_name {
    font-weight: bold;
    width: 100%;
    padding-left: 5px;
    font-size: 24px;
}


.language_select_button {
    align-items: center;
    border-radius: 16px;
    border: solid var(--overview-hr);
    border-width: 2px 2px 4px;
    background: var(--body-background);
    box-sizing: content-box;
    cursor: pointer;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    height: 210px;
    justify-content: center;

    padding: 0;
    position: relative;
    text-align: center;
    text-transform: none;

    text-decoration: none;
}

@media (min-width: 699px) {
    .language_select_button {
        margin-left: 12px;
        margin-right: 12px;
        margin-top: 24px;
        max-width: 210px;
        min-width: 210px;
    }
}
.language_select_button:hover {
    filter: brightness(.9);
}

@media (max-width: 744px) {
    .language_select_button {
        margin-left: 6px;
        margin-right: 6px;
        margin-top: 12px;
        max-width: calc(100vw / 3 - 27px);
        min-width: calc(100vw / 3 - 27px);
    }
}

@media (max-width: 466px) {
    .language_select_button {
        margin-left: 6px;
        margin-right: 6px;
        margin-top: 12px;
        max-width: calc(100vw / 2 - 32px);
        min-width: calc(100vw / 2 - 32px);
    }
}

@media (max-width: 300px) {
    .language_select_button {
        margin-left: 6px;
        margin-right: 6px;
        margin-top: 12px;
        max-width: 210px;
        min-width: 210px;
    }
}


.language_select_button_text {
    color: var(--text-color-dim);
    display: block;
    font-size: 19px;
    font-weight: 700;
    margin-top: 10px;
}

.language_story_count {
    color: var(--text-color-dim);
    opacity: 0.5;
    font-size: 15px;
}

.language_select_button.conlang-link {
  max-width: 953px;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 15px;
  height: min-content;
  margin-inline: 20px;
}

.conlang-link > svg {
  margin-inline-start: max(10%, 40px);
  padding-block: 25px;
}

.arrow {
  margin-right: max(10%, 40px);
  position: absolute;
  right: 0;
  color: #cbcbcb;
  font-size: 40px
}

@media screen and (max-width: 500px) {
  .arrow {
    display: none
  }
}

.celebration {
    justify-content: center;
    padding: 25px 0;
    max-width: 953px;
    flex-flow: row wrap;
    gap: 15px;
    height: min-content;
    margin-inline: 20px;
}
.celebration_date {
    color: var(--text-color-dim);
    opacity: 0.5;
    font-size: 15px;
}
.celebration svg {
    padding-block: 0;
}
.celebration_icon {
    font-size: 40px;
}
@media screen and (max-width: 538px) {
    .celebration_icon {
        display: none;
    }
    .celebration svg {
        display: none;
    }
}
