

.main_title {
  font-size: 34px;
}
.title_desc {
  font-size: 19px;
  text-align: center;
}
@media screen and (max-width:480px) {
  .main_title {
    font-size: 25px;
    margin-bottom: 0;
  }
  .title_desc {
    font-size: 19px;
    color: var(--title-color-dim);
  }

  .title_desc a {
    color: var(--title-color-dim);
  }
}

#quit {
  background-image: url(//d35aaqx5ub95lt.cloudfront.net/images/icon-sprite8.svg);
  background-position: -373px -154px;
  cursor: pointer;
  display: inline-block;
  height: 18px;
  vertical-align: middle;
  width: 18px;
}

#main_index {
  max-width: 985px;
  padding-top: 90px;
  margin: 0 auto;
}

#error {
  width: 100%;
  height: calc(100vh - 300px);
  display: flex;
  z-index: 10;
  align-items: center;
  justify-content: center;
}

#error div {
  display: block;
  width: 375px;
  text-align: center;
}

a {
  color: var(--text-color);
}

a:hover {
  color: var(--link-hover);
}

h1 {
  width: 100%;
  text-align: center;
}

hr {
  border: 0;
  border-top: 2px solid var(--overview-hr);
}

.duostories_title {
  width: 160px;
  display: block;
  float: left;
  color: var(--duostories-title);
  font-weight: bold;
  font-size: 29px;
  text-decoration: none;
}



body {
  /* font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";*/
  font-family: nunito, vollkorn, -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  position: relative;
  font-size: 19px;
  margin: 0;
  box-sizing: border-box;
  color: var(--text-color);
  background: var(--body-background);
}


button:focus{outline:none !important;}
a:focus{outline:none !important;}

.button {
  text-transform: uppercase;
  padding: 13px 30px;
  float: right;
  display: inline-block;
  background: var(--button-background);
  color: var(--button-color);
  border-radius: 15px;
  /* box-shadow: #58a700 0 5px; */
  /* margin-inline: 6px; */
  font-weight: bold;
  /* text-align: center; */
  border: 0;
  font-size: 16px;
  /* font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; */
  transition: 0.1s box-shadow, 0.1s transform;
  border-color: var(--button-border);
  border-bottom: 4px solid var(--button-border);
}
.button:hover {
  filter: brightness(1.1);
  /*transform: translate(0, 5px);
  box-shadow: #58a700 0 0px;*/
}
.button:active {
  transform: translate(0, 4px);
  border-bottom: 0 solid var(--button-border);
  transition: 0.1s border-bottom, 0.1s transform;
}
.button[data-status="inactive"] {
  background: var(--button-inactive-background);
  transform: translate(0, 4px);
  border-bottom: 0 solid var(--button-border);;
  color: var(--button-inactive-color);
  cursor: default;
}
.button[data-status="inactive"]:hover {
  filter: none;
}

