.story {
    max-width: 500px;
    margin: 0 auto;
    padding: 16px;

    @media print {
        width: 100%;
        max-width: 100%;
    }
}

.characterSelector {
    @media print {
        display: none;
    }
}

.header {
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px;
    position: sticky;
    top: 0;
    background: var(--body-background);
    z-index: 1;

    @media (max-width: 500px) {
        padding: 17px 20px;
    }
}


.spacer {
    height: 33vh;
}