.story_list {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 100px;
}

.story_list th {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
  background-color: var(--button-background);
  color: var(--button-color);
}

.story_list tr:nth-child(2n) {
  background-color: var(--body-background-faint);
}

.set_start {
  border-top: 3px solid var(--button-background);
}

.story_list tr a {
  color: var(--text-color);
  font-weight: bold;
}

.status_field {
  white-space: nowrap;
}

.status_text {
  background: var(--editor-ssml);
  border-radius: 10px;
  padding: 2px 5px;
  white-space: nowrap;
}

.approval:hover {
  filter: brightness(0.9);
}
.approval {
  background: var(--editor-ssml);
  border-radius: 10px;
  padding: 2px 5px;
  white-space: nowrap;
  cursor: pointer;
}

.lang_selector {
  overflow: scroll;
  white-space: nowrap;
  display: flex;
  gap: 12px;
  padding: 4px;
}

.lang_selector svg:nth-child(2) {
}

.import_lang {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  background: var(--body-background);
  padding: 4px 8px;
}
.import_lang:hover {
  filter: brightness(0.9);
}

.double_flag {
  display: flex;
}

.double_flag img:nth-child(2) {
  margin-top: 10px;
  margin-left: -28px;
}
