
.tooltip_editor {
    display: inline-flex;
    flex-direction: column;
    flex-grow: 1;
    border-left: 1px solid #bfbfbf;
    padding-left: 5px;
}
.story_rtl .tooltip_editor {
    border-left: 0 solid #bfbfbf;
    border-right: 1px solid #bfbfbf;
    padding-left: 0;
    padding-right: 5px;
}
.tooltiptext_editor {
    font-style: italic;
    background: whitesmoke;
    font-size: 0.9em;
    opacity: .5;
    margin-left: -4px;
    padding-left: 6px;
}
.story_rtl .tooltiptext_editor {
    margin-left: 0;
    padding-left: 0;
    margin-right: -4px;
    padding-right: 6px;
}
/* Tooltip container */
.tooltip {
    position: relative;
    /*    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
    line-height: 2em;
    background-image: linear-gradient(to right, var(--underline-dashed) 60%, rgba(255, 255, 255, 0) 0%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 5px 2px;
    padding-bottom: 5px;
}

.tooltip:not([data-hidden]):hover {
    background-image: linear-gradient(to right, var(--underline-dashed-highlight) 60%, rgba(255, 255, 255, 0) 0%);
}

/* Tooltip text */
.tooltip .tooltiptextX {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    margin-top: -6px;
    border-style: solid;
    width: 10px;
    height: 10px;
    z-index: 10;

    transform: rotate(-45deg);

    background-color: var(--tooltip-backgroud);
    border-color:  transparent transparent var(--tooltip-border) var(--tooltip-border);
    border-width: 2px;
}
span[data-hidden=true] {
    color: var(--body-background);
    background-image: linear-gradient(to right, var(--underline-solid) 60%, var(--underline-solid) 60%) !important;
    line-height: 2em;
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 5px 2px;
    padding-bottom: 5px;
}

.tooltiptext {
    visibility: hidden;
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;

    bottom: 125%;
    /* width: 120px;*/
    background-color: var(--tooltip-backgroud);
    border: 2px solid var(--tooltip-border);
    border-radius: 14px;
    color: var(--tooltip-color);
    display: block;
    font-size: 19px;
    font-style: normal;
    font-weight: normal;
    left: 50%;
    margin-bottom: 10px;
    padding: 7px 17px 6px;
    position: absolute;
    text-align: center;
    white-space: nowrap;
    width: auto;
    transform: translate(-50%);
    z-index: 10; }


/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover:not([data-hidden=true]) .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.hidden {
    display: none;
}