
/* Question Point to Word (click) */

.word_button {
    border-radius: 9px;
    line-height: 3.2;
    margin-right: 4px;
    padding: 8px 12px 7px;
    white-space: nowrap;
    z-index: 1;
    display: inline;
    position: relative;
}
