
.multiple_choice_checkbox {
    border-radius: 9px;
    height: 42px;
    user-select: none;
    min-width: 40px;
    position: relative;
}
.multiple_choice_answer_text {
    padding-left: 18px;
}
.story_rtl .multiple_choice_answer_text {
    padding-left: 0;
    padding-right: 18px;
}

.multiple_choice_li {
    margin: 20px 0;
    display: flex;
    align-items: center;
}
.multiple_choice_ul {
    color: #4b4b4b;
    list-style: none;
    padding: 0;
}

.multiple_choice_li .color_false:before {
    background-position: 50%;
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    background-image: url(//d35aaqx5ub95lt.cloudfront.net/images/c854160d63716d5ccede79734b63f36b.svg);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

.multiple_choice_li .color_false:after {
    background-image: url(//d35aaqx5ub95lt.cloudfront.net/images/45590f17eefeed5ed18cef9ac9d1f7d2.svg);
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-name: _1O73g;
    animation-name: _1O73g;
    height: 30px;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    top: 50%;
    width: 30px;
    z-index: 1;

    background-position: 50%;
    background-repeat: no-repeat;
    content: "";
    position: absolute;
}


.multiple_choice_li .color_right:before {
    background-image: url(//d35aaqx5ub95lt.cloudfront.net/images/867bf7feaeebef6c4938d14983f4f9df.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
