.loudspeaker {
  display: inline-block;
  vertical-align: text-bottom;
  flex-shrink: 0;
  position: relative;
  top: 2px;
  margin-right: 8px;
  cursor: pointer;
  width: 28px;
  height: 23px;
}

div[data-rtl="true"] .loudspeaker {
  transform: scale(-1, 1);
  margin-right: 0;
  margin-left: 8px;
}
