.match_container {
    display: flex;
    column-gap: 20px;
}

.match_word {
    font-family: "Nunito", sans-serif;
    font-size: 19px;
    /*line-height: 1.45;*/
    margin: 4px;
    margin-top: 6px;
    padding: 8px 15px;
    position: relative;
    vertical-align: top;
    z-index: 1;
    width: 100%;
}

.right {
    /* color_right_fade_to_disabled */
    composes: button_inactive_anim from "../common.module.css";

    animation: right_to_disabled 1.5s;
    background: var(--color_disabled_background);
    border-color: var(--color_disabled_border-color);
    color: var(--color_disabled_color);
    border-bottom-width:2px;
    margin-top: 8px;
}

@keyframes right_to_disabled {
    0%,
    66% {
        background: var(--color_right_background);
        border-color: var(--color_right_border-color);
        color: var(--color_right_color);
        border-bottom-width:4px;
        margin-top: 6px;
    }
    to {
        background: var(--color_disabled_background);
        border-color: var(--color_disabled_border-color);
        color: var(--color_disabled_color);
        border-bottom-width:2px;
        margin-top: 8px;
    }
}

.wrong {
    composes: color_false_to_base button_click from "../common.module.css";
}

.selected {
    composes: color_selected button_click from "../common.module.css";
}

.default {
    composes: color_base button_click from "../common.module.css";
}


/* Match the pairs */
