.languages {
    overflow: scroll;
    height: calc(100vh - 64px);
    width: 515px;
    border-right: 1px solid var(--header-border);
}

.course_selection_button {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--text-color);
    border-bottom: 1px solid var(--header-border);
}

.course_selection_button_active {
    background: var(--body-background);
    filter: brightness(0.9);
}

.course_selection_button:hover {
    background: var(--body-background);
    filter: brightness(0.9);
    color: black;
}

.course_count {
    width: 45px;
    text-align: right;
    color: #333;
}

.crown {
    margin-left: 5px;
    height: 28px;
}
